<suite name="Parallel Test Suite" parallel="tests" data-provider-thread-count="1">


    <listeners>
        <listener class-name="com.orangehrm.utils.Transformers"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>





    <test name="Chrome Test">
        <parameter name="browser" value="chrome"/>
        <parameter name="delay" value="0"/>
        <classes>
            <class name="com.orangehrm.TestRunners.TestRunner"/>
        </classes>
    </test>




   </suite>